.biao{
	font-size: 30px;
	text-align: center;

}
.liebiao{
	text-align: center;
}
.liebiao td{
	width: 150px;
	overflow: hidden;
	padding: 20px;
    font-size: 15px;
	color: #808080;
}
.liebiao th{
	padding: 20px;
}