.store_management {
    height: 800px;
}

.head {
    /* background-color: pink; */
    width: 100%;
    height: 29%;
    overflow: hidden;

}

.head:before,
.head:after {
    content: "";
    display: table
}

.head:after {
    clear: both
}

.head {
    *zoom: 1;
}

.main_sele {
    position: relative;
    display: block;
    top: 11%;
    /* float: left; */
    margin: 0px auto 43px auto;
    width: 15%;
    height: 40px;
    border-radius: 5px;
    z-index: 9999;
}


.lefthead {
    position: relative;
    top: 30%;
    float: left;
    margin-left: 5%;
}

.lefthead .find {
    margin-top: 10px;
    border: 1px solid black;
    overflow: hidden;
}

.lefthead .find div {
    padding: 5px 10px;
    float: left;
}

.lefthead .find div:nth-child(2) {
    padding: 5px 0;
}

.subnav {
    position: relative;
    float: left;
    top: 30%;
    /* margin: 0 auto; */
    margin-left: 65px;
    width: 60%;
    height: 70%;
    /* background-color: antiquewhite; */
    /* white-space: nowrap; */
     overflow: hidden;

}

.subnav .data {
    position: absolute;
    width: 90%;
    left: 8%;
    cursor: pointer;
}

.subnav .data div {
    font-size: 12px;
    float: left;
    width: 222px;
    height: 68px;
    line-height: 35px;
    text-align: center;
    white-space: normal;
    transition: all 0.3s ease;
}

.subnav .dayfind {
    display: none;
}

.btn1 {
    font-size: 20px;
    position: absolute;
    text-align: center;
    left: 0%;
    width: 50px;
    height: 70px;
    float: left;
    line-height: 70px;
    cursor: pointer;
    transition:all 1s ease-out;
}

.btn2 {
    font-size: 20px;
    position: absolute;
    display: block;
    right: 4%;
    width: 50px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    transition:all 1s ease-out;
}

.dayfind .dayfindhead .left {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
}

.dayfind .dayfindhead .right {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.dayfind .dayfindhead .monthnow {
    position: absolute;
    top: 3px;
    left: 200px;
}

.everyday {
    position: absolute;
    top: 30px;
}

.everyday div {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.store_management table {
    position: relative;
    top: 15px;
    left: 5%;
    /* margin-left: -50%px; */
    width: 90%;
    text-align: center;
    /* height: 1300px; */
    /* border-collapse: collapse; */
    /* width: 100%(MISSING); */
    border: 1px solid black;
    border-collapse: separate;

}
.store_management th,td {
    /* text-align: left; */
    /*display: block;*/
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 100px;
    width: 3%;
    padding: 10px !important;
}

/*.store_management tr:nth-child(even) {*/
/*    background-color: #f2f2f2*/
/*}*/

.store_management thead tr {
    background-color: #4CAF50;
    color: white;

}

.store_management tr:nth-child(n) :last-child {
    border-right: none;
}

.store_management tr:last-child td {
    border-bottom: none;
}
