

<!DOCTYPE html>
<html>
<head>
    <title>注册页面 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
    <!-- Custom Theme files -->
    <link rel="stylesheet" type="text/css" href="https://s1.pstatp.com/cdn/expire-1-M/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <style>
        body{
            background:url(img/bg.jpg)no-repeat;
            background-size:cover;
            background-repeat: repeat;
            text-align: center;
            font-family: 'DM Sans', sans-serif;
        }
    </style>
</head>
<body>
    <div class="top-buttons-agileinfo">
        <a href="show_staff_login">Sign In</a><a href="show_register_web" class="active">Sign Up</a>
    </div>
    <h1>注册页面</h1>
    <div class="main-agileits">
        <!--form-stars-here-->
        <div class="form-w3-agile">
            <h2 class="sub-agileits-w3layouts">注册</h2>
            <form action="register_account_info" method="post">
                <input type="text" name="Username" placeholder="Username" required="" />
                <input type="password" name="Password" placeholder="Password" required="" />
                <input type="password" name="Password" placeholder="Confirm Password" required="" />
                <div class="submit-w3l">
                    <input type="submit" value="注册">
                </div>
            </form>
        </div>
    </div>
    <script src="js/jquery-3.6.0.js">



    </script>

</body>
</html>